.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
}
.gall > .pattern {
    background:url(../img/8.jpg) scroll;
    width:100%;
    height:578px;
    position:absolute;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin: 0 !important;
    height:432px;
    background-color:#ffffff;
	transition: opacity 0.5s ease-in-out; /* Transición de opacidad */

}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
    text-align:center;
    min-height:347px;
    
}
.camera_wrap {
	width: 100%;
    /*padding-bottom:99px;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../img/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../img/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
	margin-top:0;
    z-index:1;
    top: 0;
    padding-top: 337px;
}
.camera-banner{
	position: absolute;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 1em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	top: 30%;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:87px;
    left:10%;
	padding:0;
	display:inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera-caption {
	position: absolute;
	top: -297px;
	z-index:100;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align: center;
    width: 100%;
	/*color:#2f2f2f;
    font-family:'Righteous';
    font-size:64px;
    line-height:58px;
    font-style:normal;*/
}
.camera-caption .title1 {
    font-family:'Ubuntu';
    font-size:72px;
    line-height:72px;
    font-weight:bold;
    text-transform:uppercase;
    top:0;
    color:#fff;
    margin-bottom: 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.camera-caption .title2 {
    font-family:'Ubuntu';
    font-size:36px;
    line-height:30px;
    font-weight:bold;
    text-transform:uppercase;
    top:0;
    color:#fff;
    margin-top:-8px;
    margin-bottom:14px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.camera-caption .title3 {
    font-family:'Arial';
    font-size:14px;
    line-height:18px;
    top:0;
    color:#fff;
    margin-bottom:24px;
}
.camera_prev span, .camera_next span{
	position: absolute;
	display: block;
	width:17px;
	height:31px;
	bottom:32px;
	cursor: pointer;
	z-index: 1000;
}
.camera_next, .camera_prev {
    display: inline-block;
}
.camera_next span{background:url(../img/next.png) 0 top no-repeat; margin-left:10px;}
.camera_prev span{background:url(../img/prev.png) 0 top no-repeat; margin-left: -27px;}
.camera_next span:hover{background:url(../img/next.png) 0 bottom no-repeat;}
.camera_prev span:hover{background:url(../img/prev.png) 0 bottom no-repeat;}

/*
@media (min-width: 1200px) {
.camera_fakehover {
    min-height:441px;
    
}
}
@media (min-width: 980px) and (max-width: 1199px){
.camera_wrap {
    height: 480px;
}
.camera_fakehover {
    min-height: 347px;
}
}
@media (max-width: 979px){
.camera_wrap {
    height:369px;
}
.camera-caption .title1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}
.camera-caption .title2 {
    font-size: 26px;
    line-height: 24px
}
.camera_fakehover {
    min-height: 267px;
}
}

@media (max-width: 767px){
.camera_wrap {
    height:auto
}
.camera_pag {
    bottom: 27px;
}
.camera-caption {
     bottom: 21%;
     left: 0;  
     font-size: 44px; 
}
.camera_fakehover {
    min-height: 266px;
}
}

@media (min-width: 626px) and (max-width: 767px) { 
.camera_fakehover {
    min-height: auto;
}
}

@media (max-width: 626px) {
    .camera_fakehover {
    min-height: auto;
}
.camera_next, .camera_prev {
    display:none;
}
}

@media (max-width: 560px) {
.camera_fakehover {
    min-height: auto;
}
.camera-caption {
    display:none;
}
.slider {
    padding-top: 20px;
}
}
@media (max-width: 480px) {
}
@media (max-width: 320px) { 
}
*/