body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #e16223;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 450px; /* Aumentar el tamaño máximo del formulario */
    padding: 3rem; /* Aumentar el padding alrededor del formulario */
    background-color: #333333; /* Fondo del formulario para resaltar */
    border-radius: 1rem; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

.form h2 {
    color: var(--bg-light); /* Color del texto */
    text-align: center; /* Centrar el texto */
    width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
    margin: 0; /* Eliminar márgenes por defecto */
    font-size: 2rem; /* Tamaño de fuente */
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1.25rem 1rem; /* Aumentar el tamaño de padding para inputs más grandes */
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1.25rem 1rem; /* Aumentar el tamaño de padding para el botón más grande */
    width: 100%;
    display: flex;
    justify-content: center; /* Centrar el texto dentro del botón */
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 1rem; /* Aumentar el tamaño de la fuente */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    text-align: center; /* Asegura que el texto esté centrado */
}

.form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}
